/**************************************************/
/*          mi propio estilo para BootStrap       */
/*          versión                               */
/*          autor                                 */ 
/*          fecha                                 */ 
/*          comentario: mi proio estilo para      */ 
/*                          bootstrap             */ 
/**************************************************/

/* FUCCSIA NOELIA : rgb(227,0,82)*/

.bg-violeta{background-color: rgb(63, 18, 106);}
.bg-black{background-color: rgb(0, 0, 0);}
.bg-gris{background-color: rgb(144, 142, 142);}
.bg-boton{background-color: rgb(131, 123, 122);}


@font-face {
    font-family: titulos;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/SourceSansPro-Bold.ttf);
    color: white;
}

/**** tuneo la barra de navegación ****/

nav {position:sticky !important; 
    top:0;
    opacity:0.8;
    z-index: 99;}

nav  a {color:white !important;}


/**** título de sección personalizado ****/

.titulo {
    font-size:2.5rem;
    font-family: titulos;
    font-weight:bold;
    text-align:center;
    padding:2rem 0;
    margin: auto;
    margin-bottom: 2%;
    color: rgb(221, 30, 30);
    border-bottom:3px solid rgb(227,0,82);
    width:50%;
}

@media only screen and (width<750px){
.titulo    {font-size:1.8rem;
            width:80%;
    }
}

/**** estilo de texto personalizado ****/
.texto {
    font-size: 1.2rem;
    font-family: texto;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: black;
}

/****************************/
.mb-8{margin-bottom: 8rem;}
.mb-10{margin-bottom: 10rem;}



/**** tuneo el carousel ****/
.carousel-control-prev,
.carousel-control-next {color:black !important;
                        opacity:0;}

.vh-25 {height:15vh;}

/**** tuneo el accordion ****/

.acordeonEstilo{
    margin-left: 2%;
    margin-right: 2%;
    background-color:  rgb(180, 180, 180);
}

.accordion-button:not(.collapsed){
    background-color: rgb(249, 215, 232);
    box-shadow:inset 0 -1px 0 rgb(227,0,82);
}

/**** tuneo las cards ****/

.formaCard{
    border-radius: 5%;
}
.tituloCard{
    text-align: center;
}

.imagenCard{
    padding: 2%;
    border-radius: 15%;
}

.espaciadoCard{
    padding-bottom: 2%;
}

/**** BASICOS ****/

.tituloBasicos{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid rgb(63, 18, 106);
    margin-bottom: 2%;
}


/**** FOOTER ****/

.mapa iframe{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 1%;
    }

#divideFooter{
    border-right: 2px solid rgb(227,0,82);
    text-align: center;
    }

#centrarInfo{
    text-align: center;
}

footer .fa{
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    }

/**** MEDIA QUERIES ****/

@media only screen and (width<=1000px){
    .titulo{
        width: 50%;
    }
    .texto{
        font-size: 1rem;
    }

    .tituloBasicos{
        width: 50%;
    }


}

@media only screen and (width<750px){
    .titulo    {font-size:1.8rem;
                width:80%;
        }
    }